<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "P3Q - Cardápio"}) %>

<body>

  <%- include('includes/header') %>

  <main class="container mt-5">

    <div class="row cadastre-pizza">
      <a href="/cardapio/cadastro">Cadastrar-Pizza</a>
    </div>

    <div class="row">

      <% listaDePizza.forEach((pizza, index) => { %>
      <div class="col-md-4 p-2">
        <div class="card card-cardapio">
          <img src="/img/<%= pizza.img %>" alt="Foto da pizza" class="card-img-top">

          <div class="card-body">
            <h5 class="card-title"><%= pizza.nome %></h5>
            <p>R$<%= pizza.preco %>,00</p>

            <div class="botoes">
              <button class="button-form">Comprar</button>

              <form action="/cardapio/deletar/<%= index %>?_method=DELETE" method="POST">
                <button type="submit" class="button-excluir"><img src="/img/trash.svg" alt="Excluir"></button>
              </form>

              <a href="/cardapio/alterar/<%= index %>"><img src="/img/change.svg" alt="Alterar"></a>

            </div>

          </div>

        </div>
      </div>
      <% }) %>

    </div>
  </main>

  <%- include('includes/footer') %>

</body>

</html>